img{
    height: 200px;
    width: 200px;
}
body{
    background-image: url("https://www.hdwallpapers.in/download/dark_red_black_background_design_hd_red_and_black_aesthetic-HD.jpg");
    color: white;
}
h1{
    color: white;
}